<% layout('./layouts/boilerplate') %>

<link href="styles/shopping-cart.css" rel="stylesheet" type="text/css" />


<main class="main container">
    <section>

        <div class="section-title">
            <h2>Shopping Cart<span>.</span></h2>
        </div>

        <p>Hello <b style="text-transform: capitalize;"><%=user.firstName %> <%=user.lastName %></b>, you have <b><%=cartProducts.length %></b> items in your cart.</p>

        <% if (cartProducts.length > 0) { %>
            <div class="cart-wrapper">
                <table class="cart">
                    <tbody>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                        <% for (const item of cartProducts) { %>
                            <tr>
                                <td>
                                    <div class="cart-product-image">
                                        <img src="<%=item.product.url %>" alt="Placholder Image" class="product-frame">
                                    </div>
                                    <p class="cart-product-name">
                                        <%=item.product.name %>
                                    </p>
                                </td>
                                <td>$<%=item.product.price %></td>
                                <td><%=item.quantity %></td>
                                <td>
                                    $<%=item.product.price * item.quantity %>
                                    <form action="/shopping-cart" method="post">
                                        <input type="hidden" name="userId" value="<%=user._id %>">
                                        <input type="hidden" name="productId" value="<%=item.product._id%>">
                                        <button type="submit" class="btn btn-outline">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        <% } //for-loop %>
                    </tbody>
                </table>

                <form class="summary">
                    <div class="summary-field">
                        <h6>total items</h6>
                        <p><%=totalAmount %></p>
                    </div>
                    <div class="summary-field">
                        <h6>Base Price</h6>
                        <p>$<%=totalPrice %></p>
                    </div>
                    <div class="summary-field">
                        <h6>Promotions</h6>
                        <input type="text" id="coupon-input" class="form-control" value="" placeholder="Enter Coupon" >
                    </div>
                    <div class="summary-field">
                        <h6>Delivery</h6>
                        <select name="delivery-collection" class="summary-delivery-selection">
                            <option value="0" selected="selected">Select Collection or Delivery</option>
                            <option value="collection">Collection</option>
                            <option value="first-class">Royal Mail 1st Class</option>
                            <option value="second-class">Royal Mail 2nd Class</option>
                            <option value="signed-for">Royal Mail Special Delivery</option>
                        </select>
                    </div>
                    <div class="summary-field">
                        <h6>Final Price</h6>
                        <p>$<%=totalPrice %></p>
                    </div>
                    <div class="summary-checkout">
                        <button class="btn btn-block btn-primary">Checkout</button>
                    </div>
                </form>
            </div>
            <% } else { %>
            <p>Your cart is empty. Keep shopping to find a cool items!</p>
            <br>
            <a href="/products" class="btn btn-primary">Keep shopping</a>
        <% } %>
      

    </section>

</main>

<% layout('./layouts/boilerplate') %>