<% layout('./layouts/boilerplate') %>


<link rel="stylesheet" href="/css/orders.css">


<main>
    <% if (orders.length <=0) { %>
        <main class="main container">
            <section>
                <div class="section-title">
                    <h2>No Orders Found<span>.</span></h2>
                </div>

                <p>
                    browse our products and start<b><a href="/products" target="_self"> Shopping</a></b>.
                </p>
            </section>
        </main>
        <% } else { %>
            <% orders.forEach(order=> { %>
                <h1>Order ID: <%= order._id %>
                </h1>
                <% order.products.forEach(p=> { %>
                    <p>
                        <%= p.product.name %> (<%= p.quantity %>)
                    </p>
                    <% }); %>
                        <p>
                            Delivery: <%= order.delivery %>
                        </p>
                        <p>
                            Total: <%= order.total %>
                        </p>
                        <% }); %>
                            <% } %>
</main>

<% layout('./layouts/boilerplate') %>